@import '../../style/variables.scss';

.randomchar {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

    @media (max-width: 767.98px){
		grid-template-columns: repeat(1, 100%);
    }
    &__block {
        padding: 40px 35px;
        display: grid;
        grid-template-columns: 180px auto;
        column-gap: 30px;
        @media (max-width: 991.98px){
            padding: 15px;
            column-gap: 15px;
        }
        @media (max-width: 479.98px){
            grid-template-columns: repeat(1, auto);
        }
    }
    &__img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        @media (max-width: 479.98px){
            width: 150px;
            height: 150px;
        }
    }
    &__info {
        display: grid;
        /*grid-template-rows: minmax(29px, auto) 90px;*/
        row-gap: 10px;
        padding-top: 3px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;

        @media (max-width: 479.98px){
            font-size: 19px;
            line-height: 20px;
            margin-top: 5px;
        }
    }
    &__descr {
        font-size: 14px;
        line-height: 18px;
    }
    &__btns {
        a:nth-child(1) {
            margin-right: 30px;
        }
    }
    &__static {
        padding: 40px 35px;
        background-color: $dark;
        position: relative;

        @media (max-width: 991.98px){
            padding: 15px;
        }
        
        button {
            margin-top: 13px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.045em;
        color: #FFFFFF;
        @media (max-width: 479.98px){
            font-size: 17px;
        }

        &:nth-child(2) {
            margin-top: 33px;

            @media (max-width: 479.98px){
                margin-top: 25px;
            }
        }
    }
    &__decoration {
        position: absolute;
        bottom: 14px;
        right: -37px;
        @media (max-width: 991.98px){
            width: 156px;
            height: 126px;
        }
    }
}